

\restrict 7hvE3rNjeycLlIyNeqSr4g5enp1EC2dmuM14RagsrST691xYNamJd96U6GH24eI


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_cron" WITH SCHEMA "pg_catalog";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "public";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pg_trgm" WITH SCHEMA "public";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."fn_handle_new_auth_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
begin
  insert into public.usuarios (id, nome, email, perfil, aprovado, empresa, area)
  values (
    new.id,
    coalesce((new.raw_user_meta_data->>'nome')::text, new.email),
    new.email,
    coalesce((new.raw_user_meta_data->>'perfil')::text, 'Solicitante'),
    false,
    (new.raw_user_meta_data->>'empresa')::text,
    (new.raw_user_meta_data->>'area')::text
  )
  on conflict (id) do nothing;
  return new;
end;
$$;


ALTER FUNCTION "public"."fn_handle_new_auth_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_set_atualizado_em"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.atualizado_em = NOW();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."fn_set_atualizado_em"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."fn_usuario_tem_perfil"("_perfis" "text"[]) RETURNS boolean
    LANGUAGE "sql" STABLE
    AS $$
  select exists (
    select 1
    from public.usuarios u
    where u.id = auth.uid()
      and u.aprovado = true
      and u.perfil = any(_perfis)
  );
$$;


ALTER FUNCTION "public"."fn_usuario_tem_perfil"("_perfis" "text"[]) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_modified_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.atualizado_em = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_modified_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."amv_via" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "equipamento" bigint NOT NULL,
    "descricao" character varying(255) NOT NULL,
    "fabricante" character varying(100),
    "denominacao_tipo" character varying(100),
    "empresa" character varying(10),
    "centro_planejado" character varying(10),
    "centro_manutencao" character varying(10),
    "status_sistema" character varying(20),
    "status_usuario" character varying(20)
);


ALTER TABLE "public"."amv_via" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."centros_trabalho" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "codigo" character varying(20) NOT NULL,
    "denominacao" character varying(150) NOT NULL,
    "ativo" boolean DEFAULT true NOT NULL,
    "criado_em" timestamp with time zone DEFAULT "now"(),
    "atualizado_em" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."centros_trabalho" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."equipamentos" (
    "id" integer NOT NULL,
    "id_sap" character varying(50) NOT NULL,
    "local_id_sap" character varying(50) NOT NULL,
    "descricao" character varying(255),
    "sistema_id" integer,
    "sincronizado_em" timestamp with time zone,
    "local_instalacao_id" bigint,
    "codigo" "text",
    "ativo" boolean DEFAULT true NOT NULL,
    "grupo_catalogo" "text"
);


ALTER TABLE "public"."equipamentos" OWNER TO "postgres";


COMMENT ON TABLE "public"."equipamentos" IS 'Cache de Equipamentos do SAP (EQUNR). Filtrado por Local de Instala├º├úo no formul├írio.';



COMMENT ON COLUMN "public"."equipamentos"."sincronizado_em" IS '├Ültima sincroniza├º├úo com o SAP via Edge Function.';



COMMENT ON COLUMN "public"."equipamentos"."local_instalacao_id" IS 'FK para locais_instalacao ÔÇö define a hierarquia SAP.';



COMMENT ON COLUMN "public"."equipamentos"."codigo" IS 'C├│digo t├®cnico SAP do Equipamento (EQUNR).';



ALTER TABLE "public"."equipamentos" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."equipamentos_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."estacoes" (
    "id" integer NOT NULL,
    "linha" character varying(50),
    "estacao" character varying(100),
    "sigla" "text",
    "Ordem_aparicao" smallint
);


ALTER TABLE "public"."estacoes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."frotas_trens" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "serie_trem" character varying(10) NOT NULL,
    "prefixo_trem" character varying(10),
    "status" character varying(20) DEFAULT 'operacional'::character varying,
    "criado_em" timestamp with time zone DEFAULT "now"(),
    "atualizado_em" timestamp with time zone DEFAULT "now"(),
    "carro_associado" character varying(6)
);


ALTER TABLE "public"."frotas_trens" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."grupos" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "sistema_id" integer NOT NULL,
    "codigo" character varying(30) NOT NULL,
    "sintoma" character varying(150)
);


ALTER TABLE "public"."grupos" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."locais_instalacao" (
    "id_sap" character varying(20) NOT NULL,
    "descricao" character varying(100) NOT NULL,
    "sincronizado_em" timestamp with time zone,
    "codigo" "text",
    "ativo" boolean DEFAULT true NOT NULL,
    "lat" double precision,
    "lng" double precision
);


ALTER TABLE "public"."locais_instalacao" OWNER TO "postgres";


COMMENT ON TABLE "public"."locais_instalacao" IS 'Cache de Locais de Instala├º├úo ativos do SAP (TPLNR). Atualizado pela Edge Function sync-mestres-sap.';



COMMENT ON COLUMN "public"."locais_instalacao"."sincronizado_em" IS '├Ültima sincroniza├º├úo com o SAP via Edge Function.';



COMMENT ON COLUMN "public"."locais_instalacao"."codigo" IS 'C├│digo t├®cnico SAP do Local de Instala├º├úo (TPLNR).';



CREATE TABLE IF NOT EXISTS "public"."logs_auditoria" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "usuario_id" "uuid",
    "evento" character varying NOT NULL,
    "payload" "jsonb",
    "criado_em" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."logs_auditoria" OWNER TO "postgres";


COMMENT ON TABLE "public"."logs_auditoria" IS 'Registros de auditoria para conformidade com LGPD e rastreabilidade de a├º├Áes cr├¡ticas.';



CREATE TABLE IF NOT EXISTS "public"."saf_integracao_sap" (
    "solicitacao_id" "uuid" NOT NULL,
    "qmnum" "text",
    "aufnr" "text",
    "status_integracao" "text" DEFAULT 'PENDENTE'::"text" NOT NULL,
    "payload_envio" "jsonb",
    "payload_resposta" "jsonb",
    "ultima_tentativa_em" timestamp with time zone,
    "mensagem_erro" "text",
    "criado_em" timestamp with time zone DEFAULT "now"() NOT NULL,
    "atualizado_em" timestamp with time zone DEFAULT "now"() NOT NULL,
    "tipo_nota" "text",
    "jest_stat" "text",
    "numero_ordem_sap" "text",
    CONSTRAINT "saf_integracao_sap_qmnum_format_check" CHECK ((("qmnum" IS NULL) OR ("qmnum" ~ '^[0-9]{6,20}$'::"text"))),
    CONSTRAINT "saf_integracao_sap_status_integracao_check" CHECK (("status_integracao" = ANY (ARRAY['PENDENTE'::"text", 'SUCESSO'::"text", 'ERRO'::"text", 'CANCELADO'::"text"])))
);


ALTER TABLE "public"."saf_integracao_sap" OWNER TO "postgres";


COMMENT ON TABLE "public"."saf_integracao_sap" IS 'Registro de integra├º├úo SAP. Integra├º├úo externa desativada; qmnum ├® registrado manualmente.';



COMMENT ON COLUMN "public"."saf_integracao_sap"."qmnum" IS 'N├║mero SAP (QMNUM) informado manualmente pelo processo operacional.';



COMMENT ON COLUMN "public"."saf_integracao_sap"."tipo_nota" IS 'Tipo da Nota SAP (QMART): Z1=Corretiva Emergencial, Z2=Preventiva.';



COMMENT ON COLUMN "public"."saf_integracao_sap"."jest_stat" IS 'Status do objeto no SAP (JEST-STAT), ex: NOCO, CANCL, CLSD.';



COMMENT ON COLUMN "public"."saf_integracao_sap"."numero_ordem_sap" IS 'N├║mero da Ordem de Manuten├º├úo SAP (AUFNR). Quando preenchido, bloqueia cancelamento.';



CREATE TABLE IF NOT EXISTS "public"."saf_solicitacoes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "ticket_saf" integer NOT NULL,
    "notificador_id" "uuid" NOT NULL,
    "titulo_falha" character varying(40),
    "descricao_longa" "text",
    "local_instalacao" character varying NOT NULL,
    "equipamento" character varying NOT NULL,
    "prioridade" "text" DEFAULT 'MEDIA'::"text" NOT NULL,
    "sintoma_codigo" "uuid",
    "data_inicio_avaria" "date" DEFAULT CURRENT_DATE NOT NULL,
    "hora_inicio_avaria" time without time zone DEFAULT CURRENT_TIME NOT NULL,
    "anexo_evidencia_url" "text",
    "criado_em" timestamp with time zone DEFAULT "now"(),
    "atualizado_em" timestamp with time zone DEFAULT "now"(),
    "notificador_nome" "text",
    "notificador_area" "text",
    "status" "text" DEFAULT 'ABERTA'::"text" NOT NULL,
    "local_instalacao_id" "text",
    "equipamento_id" "text",
    "sintoma_id" "uuid",
    "motivo_devolucao" "text",
    "motivo_cancelamento" "text",
    "avaliado_por" "uuid",
    "data_avaliacao" timestamp with time zone,
    "atualizado_sap" boolean DEFAULT false NOT NULL,
    "tipo_nota" "text" DEFAULT 'YP'::"text" NOT NULL,
    "qmnum_duplicata" "text",
    CONSTRAINT "chk_motivo_devolucao" CHECK ((("status" <> 'DEVOLVIDA'::"text") OR (("motivo_devolucao" IS NOT NULL) AND ("length"(TRIM(BOTH FROM "motivo_devolucao")) > 0)))),
    CONSTRAINT "saf_solicitacoes_prioridade_check" CHECK (("prioridade" = ANY (ARRAY['BAIXA'::"text", 'MEDIA'::"text", 'ALTA'::"text", 'CRITICA'::"text"]))),
    CONSTRAINT "saf_solicitacoes_status_check" CHECK (("status" = ANY (ARRAY['ABERTA'::"text", 'EM_ANALISE'::"text", 'DEVOLVIDA'::"text", 'APROVADA'::"text", 'CANCELADA'::"text", 'DUPLICADA'::"text"])))
);


ALTER TABLE "public"."saf_solicitacoes" OWNER TO "postgres";


COMMENT ON COLUMN "public"."saf_solicitacoes"."anexo_evidencia_url" IS 'URL p├║blica da foto de evid├¬ncia armazenada no Supabase Storage.';



COMMENT ON COLUMN "public"."saf_solicitacoes"."notificador_nome" IS 'Nome do solicitante no momento da abertura (desnormalizado para evitar join).';



COMMENT ON COLUMN "public"."saf_solicitacoes"."notificador_area" IS '├ürea do solicitante no momento da abertura (desnormalizado).';



CREATE SEQUENCE IF NOT EXISTS "public"."saf_solicitacoes_ticket_saf_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."saf_solicitacoes_ticket_saf_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."saf_solicitacoes_ticket_saf_seq" OWNED BY "public"."saf_solicitacoes"."ticket_saf";



CREATE SEQUENCE IF NOT EXISTS "public"."saf_ticket_seq"
    START WITH 1000
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."saf_ticket_seq" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."sintomas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "descricao" character varying(255) NOT NULL,
    "ativo" boolean DEFAULT true NOT NULL,
    "criado_em" timestamp with time zone DEFAULT "now"(),
    "atualizado_em" timestamp with time zone DEFAULT "now"(),
    "grupo_id" "uuid" NOT NULL
);


ALTER TABLE "public"."sintomas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."sintomas_catalogo" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "equipamento_id_sap" character varying,
    "grupo_codigo" character varying,
    "sintoma_codigo" character varying,
    "descricao" character varying NOT NULL,
    "sistema_id" integer,
    "sincronizado_em" timestamp with time zone,
    "grupo" "text",
    "codigo_item" "text",
    "tipo_catalogo" "text" DEFAULT 'C'::"text" NOT NULL,
    "codigo" "text",
    "ativo" boolean DEFAULT true NOT NULL
);


ALTER TABLE "public"."sintomas_catalogo" OWNER TO "postgres";


COMMENT ON TABLE "public"."sintomas_catalogo" IS 'Cache do Cat├ílogo Tipo C do SAP (sintomas/danos). Campos QMGRP + QMCOD da BAPI de notifica├º├úo.';



COMMENT ON COLUMN "public"."sintomas_catalogo"."sincronizado_em" IS '├Ültima sincroniza├º├úo com o SAP via Edge Function.';



COMMENT ON COLUMN "public"."sintomas_catalogo"."grupo" IS 'Grupo do cat├ílogo SAP (QMGRP).';



COMMENT ON COLUMN "public"."sintomas_catalogo"."codigo_item" IS 'C├│digo dentro do grupo (QMCOD).';



COMMENT ON COLUMN "public"."sintomas_catalogo"."codigo" IS 'Chave ├║nica: concatena├º├úo QMGRP-QMCOD, ex: "EL-001".';



CREATE TABLE IF NOT EXISTS "public"."sistemas" (
    "id" integer NOT NULL,
    "nome" character varying(100) NOT NULL,
    "descricao" "text",
    "codigo" character varying(10)
);


ALTER TABLE "public"."sistemas" OWNER TO "postgres";


ALTER TABLE "public"."sistemas" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."sistemas_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."subsistemas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "sistema_id" integer NOT NULL,
    "codigo" character varying(10) NOT NULL,
    "nome" character varying(150) NOT NULL,
    "ativo" boolean DEFAULT true NOT NULL,
    "criado_em" timestamp with time zone DEFAULT "now"(),
    "atualizado_em" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."subsistemas" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."trechos_vias" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "codigo_local" "text" NOT NULL,
    "linha" character varying(2) NOT NULL,
    "estacao_origem" character varying(100) NOT NULL,
    "estacao_destino" character varying(100) NOT NULL,
    "descricao" "text" NOT NULL,
    "criado_em" timestamp with time zone DEFAULT "now"(),
    "trecho" "text",
    "Ordem_aparicao" smallint
);


ALTER TABLE "public"."trechos_vias" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."trechos_vias4" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "codigo_local" "text" NOT NULL,
    "linha" character varying(2) NOT NULL,
    "estacao_origem" character varying(100) NOT NULL,
    "estacao_destino" character varying(100) NOT NULL,
    "descricao" "text",
    "trecho" character varying(30) NOT NULL,
    "ordem_aparicao" integer NOT NULL,
    "criado_em" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."trechos_vias4" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."usuarios" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "nome" character varying NOT NULL,
    "email" character varying NOT NULL,
    "perfil" character varying NOT NULL,
    "aprovado" boolean DEFAULT false NOT NULL,
    "empresa" "text",
    "area" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "usando_como" "text",
    CONSTRAINT "usuarios_perfil_check" CHECK ((("perfil")::"text" = ANY ((ARRAY['Solicitante'::character varying, 'CCM'::character varying, 'Administrador'::character varying, 'SIC'::character varying])::"text"[]))),
    CONSTRAINT "usuarios_usando_como_check" CHECK ((("usando_como" IS NULL) OR ("usando_como" = ANY (ARRAY['SOLICITANTE'::"text", 'CCM'::"text", 'ADMIN'::"text", 'SIC'::"text"]))))
);


ALTER TABLE "public"."usuarios" OWNER TO "postgres";


ALTER TABLE ONLY "public"."saf_solicitacoes" ALTER COLUMN "ticket_saf" SET DEFAULT "nextval"('"public"."saf_solicitacoes_ticket_saf_seq"'::"regclass");



ALTER TABLE ONLY "public"."amv_via"
    ADD CONSTRAINT "amv_via_equipamento_key" UNIQUE ("equipamento");



ALTER TABLE ONLY "public"."amv_via"
    ADD CONSTRAINT "amv_via_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."centros_trabalho"
    ADD CONSTRAINT "centros_trabalho_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."equipamentos"
    ADD CONSTRAINT "equipamentos_codigo_key" UNIQUE ("codigo");



ALTER TABLE ONLY "public"."equipamentos"
    ADD CONSTRAINT "equipamentos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."estacoes"
    ADD CONSTRAINT "estacoes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."frotas_trens"
    ADD CONSTRAINT "frotas_trens_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."grupos"
    ADD CONSTRAINT "grupos_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."locais_instalacao"
    ADD CONSTRAINT "locais_instalacao_codigo_key" UNIQUE ("codigo");



ALTER TABLE ONLY "public"."locais_instalacao"
    ADD CONSTRAINT "locais_instalacao_pkey" PRIMARY KEY ("id_sap");



ALTER TABLE ONLY "public"."logs_auditoria"
    ADD CONSTRAINT "logs_auditoria_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."saf_integracao_sap"
    ADD CONSTRAINT "saf_integracao_sap_aufnr_key" UNIQUE ("aufnr");



ALTER TABLE ONLY "public"."saf_integracao_sap"
    ADD CONSTRAINT "saf_integracao_sap_pkey" PRIMARY KEY ("solicitacao_id");



ALTER TABLE ONLY "public"."saf_integracao_sap"
    ADD CONSTRAINT "saf_integracao_sap_qmnum_key" UNIQUE ("qmnum");



ALTER TABLE ONLY "public"."saf_solicitacoes"
    ADD CONSTRAINT "saf_solicitacoes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sintomas_catalogo"
    ADD CONSTRAINT "sintomas_catalogo_codigo_key" UNIQUE ("codigo");



ALTER TABLE ONLY "public"."sintomas_catalogo"
    ADD CONSTRAINT "sintomas_catalogo_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sintomas"
    ADD CONSTRAINT "sintomas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."sistemas"
    ADD CONSTRAINT "sistemas_nome_key" UNIQUE ("nome");



ALTER TABLE ONLY "public"."sistemas"
    ADD CONSTRAINT "sistemas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subsistemas"
    ADD CONSTRAINT "subsistemas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trechos_vias4"
    ADD CONSTRAINT "trechos_vias4_codigo_local_key" UNIQUE ("codigo_local");



ALTER TABLE ONLY "public"."trechos_vias4"
    ADD CONSTRAINT "trechos_vias4_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."trechos_vias"
    ADD CONSTRAINT "trechos_vias_codigo_local_key" UNIQUE ("codigo_local");



ALTER TABLE ONLY "public"."trechos_vias"
    ADD CONSTRAINT "trechos_vias_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."centros_trabalho"
    ADD CONSTRAINT "uq_centro_trabalho" UNIQUE ("codigo");



ALTER TABLE ONLY "public"."grupos"
    ADD CONSTRAINT "uq_grupo" UNIQUE ("sistema_id", "codigo");



ALTER TABLE ONLY "public"."sintomas"
    ADD CONSTRAINT "uq_sintoma" UNIQUE ("grupo_id", "descricao");



ALTER TABLE ONLY "public"."subsistemas"
    ADD CONSTRAINT "uq_subsistema" UNIQUE ("sistema_id", "codigo");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_email_key" UNIQUE ("email");



ALTER TABLE ONLY "public"."usuarios"
    ADD CONSTRAINT "usuarios_pkey" PRIMARY KEY ("id");



CREATE INDEX "idx_centros_trabalho_codigo" ON "public"."centros_trabalho" USING "btree" ("codigo");



CREATE INDEX "idx_equipamentos_descricao_trgm" ON "public"."equipamentos" USING "gin" ("descricao" "public"."gin_trgm_ops");



CREATE INDEX "idx_equipamentos_grupo_catalogo" ON "public"."equipamentos" USING "btree" ("grupo_catalogo") WHERE ("grupo_catalogo" IS NOT NULL);



CREATE INDEX "idx_equipamentos_local_id" ON "public"."equipamentos" USING "btree" ("local_instalacao_id");



CREATE INDEX "idx_frotas_serie" ON "public"."frotas_trens" USING "btree" ("serie_trem");



CREATE INDEX "idx_locais_descricao_trgm" ON "public"."locais_instalacao" USING "gin" ("descricao" "public"."gin_trgm_ops");



CREATE INDEX "idx_logs_evento" ON "public"."logs_auditoria" USING "btree" ("evento");



CREATE INDEX "idx_saf_integracao_sap_numero_ordem" ON "public"."saf_integracao_sap" USING "btree" ("numero_ordem_sap");



CREATE INDEX "idx_saf_integracao_sap_pendentes" ON "public"."saf_integracao_sap" USING "btree" ("status_integracao", "ultima_tentativa_em" DESC) WHERE ("status_integracao" = ANY (ARRAY['PENDENTE'::"text", 'ERRO'::"text"]));



CREATE INDEX "idx_saf_integracao_sap_status" ON "public"."saf_integracao_sap" USING "btree" ("status_integracao");



CREATE INDEX "idx_saf_sol_criado_em" ON "public"."saf_solicitacoes" USING "btree" ("criado_em" DESC);



CREATE INDEX "idx_saf_sol_notificador" ON "public"."saf_solicitacoes" USING "btree" ("notificador_id");



CREATE INDEX "idx_saf_solicitacoes_sintoma_id" ON "public"."saf_solicitacoes" USING "btree" ("sintoma_id");



CREATE INDEX "idx_sintomas_catalogo_grupo" ON "public"."sintomas_catalogo" USING "btree" ("grupo") WHERE ("grupo" IS NOT NULL);



CREATE INDEX "idx_sintomas_descricao" ON "public"."sintomas" USING "btree" ("descricao");



CREATE INDEX "idx_sintomas_grupo" ON "public"."sintomas" USING "btree" ("grupo_id");



CREATE INDEX "idx_trechos_codigo" ON "public"."trechos_vias" USING "btree" ("codigo_local");



CREATE INDEX "idx_trechos_linha" ON "public"."trechos_vias" USING "btree" ("linha");



CREATE INDEX "idx_usuarios_usando_como" ON "public"."usuarios" USING "btree" ("usando_como");



CREATE OR REPLACE TRIGGER "trg_saf_integracao_sap_set_atualizado_em" BEFORE UPDATE ON "public"."saf_integracao_sap" FOR EACH ROW EXECUTE FUNCTION "public"."fn_set_atualizado_em"();



CREATE OR REPLACE TRIGGER "trg_saf_solicitacoes_set_atualizado_em" BEFORE UPDATE ON "public"."saf_solicitacoes" FOR EACH ROW EXECUTE FUNCTION "public"."fn_set_atualizado_em"();



CREATE OR REPLACE TRIGGER "update_centros_trabalho_modtime" BEFORE UPDATE ON "public"."centros_trabalho" FOR EACH ROW EXECUTE FUNCTION "public"."update_modified_column"();



CREATE OR REPLACE TRIGGER "update_frotas_trens_modtime" BEFORE UPDATE ON "public"."frotas_trens" FOR EACH ROW EXECUTE FUNCTION "public"."update_modified_column"();



CREATE OR REPLACE TRIGGER "update_sintomas_modtime" BEFORE UPDATE ON "public"."sintomas" FOR EACH ROW EXECUTE FUNCTION "public"."update_modified_column"();



ALTER TABLE ONLY "public"."equipamentos"
    ADD CONSTRAINT "equipamentos_sistema_id_fkey" FOREIGN KEY ("sistema_id") REFERENCES "public"."sistemas"("id");



ALTER TABLE ONLY "public"."equipamentos"
    ADD CONSTRAINT "fk_local" FOREIGN KEY ("local_id_sap") REFERENCES "public"."locais_instalacao"("id_sap");



ALTER TABLE ONLY "public"."saf_solicitacoes"
    ADD CONSTRAINT "fk_notificador" FOREIGN KEY ("notificador_id") REFERENCES "public"."usuarios"("id");



ALTER TABLE ONLY "public"."saf_solicitacoes"
    ADD CONSTRAINT "fk_sintoma" FOREIGN KEY ("sintoma_codigo") REFERENCES "public"."sintomas_catalogo"("id");



ALTER TABLE ONLY "public"."sintomas"
    ADD CONSTRAINT "fk_sintomas_grupo" FOREIGN KEY ("grupo_id") REFERENCES "public"."grupos"("id") ON UPDATE CASCADE ON DELETE CASCADE;



ALTER TABLE ONLY "public"."grupos"
    ADD CONSTRAINT "grupos_sistema_id_fkey" FOREIGN KEY ("sistema_id") REFERENCES "public"."sistemas"("id");



ALTER TABLE ONLY "public"."logs_auditoria"
    ADD CONSTRAINT "logs_auditoria_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "public"."usuarios"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."saf_integracao_sap"
    ADD CONSTRAINT "saf_integracao_sap_solicitacao_id_fkey" FOREIGN KEY ("solicitacao_id") REFERENCES "public"."saf_solicitacoes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."saf_solicitacoes"
    ADD CONSTRAINT "saf_solicitacoes_sintoma_id_fkey" FOREIGN KEY ("sintoma_id") REFERENCES "public"."sintomas_catalogo"("id") ON UPDATE CASCADE ON DELETE SET NULL;



ALTER TABLE ONLY "public"."sintomas_catalogo"
    ADD CONSTRAINT "sintomas_catalogo_equipamento_id_sap_fkey" FOREIGN KEY ("equipamento_id_sap") REFERENCES "public"."sistemas"("nome");



ALTER TABLE ONLY "public"."sintomas_catalogo"
    ADD CONSTRAINT "sintomas_catalogo_sistema_id_fkey" FOREIGN KEY ("sistema_id") REFERENCES "public"."sistemas"("id");



ALTER TABLE ONLY "public"."subsistemas"
    ADD CONSTRAINT "subsistemas_sistema_id_fkey" FOREIGN KEY ("sistema_id") REFERENCES "public"."sistemas"("id") ON UPDATE CASCADE ON DELETE CASCADE;



CREATE POLICY "Acesso Total Dev" ON "public"."saf_solicitacoes" USING (true);



CREATE POLICY "Atualizar SAP" ON "public"."saf_integracao_sap" FOR UPDATE USING (true);



CREATE POLICY "Enable read access for all users" ON "public"."equipamentos" FOR SELECT USING (true);



CREATE POLICY "Inserir SAP" ON "public"."saf_integracao_sap" FOR INSERT WITH CHECK (true);



CREATE POLICY "Inserir Usuarios" ON "public"."usuarios" FOR INSERT WITH CHECK (true);



CREATE POLICY "Inser├º├úo de Logs pelo Sistema" ON "public"."logs_auditoria" FOR INSERT WITH CHECK (true);



CREATE POLICY "Leitura Publica" ON "public"."locais_instalacao" FOR SELECT USING (true);



CREATE POLICY "Leitura Publica SAP" ON "public"."saf_integracao_sap" FOR SELECT USING (true);



CREATE POLICY "Leitura Publica Sintomas" ON "public"."sintomas_catalogo" FOR SELECT USING (true);



CREATE POLICY "Leitura Publica Usuarios" ON "public"."usuarios" FOR SELECT USING (true);



CREATE POLICY "Leitura de Logs para Admin" ON "public"."logs_auditoria" FOR SELECT USING (true);



CREATE POLICY "Permitir atualiza├º├úo para usu├írios autenticados" ON "public"."frotas_trens" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir dele├º├úo para usu├írios autenticados" ON "public"."frotas_trens" FOR DELETE TO "authenticated" USING (true);



CREATE POLICY "Permitir insert service_role" ON "public"."usuarios" FOR INSERT TO "service_role" WITH CHECK (true);



CREATE POLICY "Permitir inser├º├úo para usu├írios autenticados" ON "public"."frotas_trens" FOR INSERT TO "authenticated" WITH CHECK (true);



CREATE POLICY "Permitir inser├º├úo/edi├º├úo para usu├írios autenticados" ON "public"."trechos_vias" TO "authenticated" USING (true) WITH CHECK (true);



CREATE POLICY "Permitir leitura de trechos para usu├írios autenticados" ON "public"."trechos_vias" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Permitir leitura para usu├írios autenticados" ON "public"."frotas_trens" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "Permitir update perfil e aprovado pelo admin" ON "public"."usuarios" FOR UPDATE TO "service_role" USING (true) WITH CHECK (true);



ALTER TABLE "public"."amv_via" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."centros_trabalho" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."equipamentos" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "equipamentos_select_authenticated" ON "public"."equipamentos" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."estacoes" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "estacoes_select_authenticated" ON "public"."estacoes" FOR SELECT TO "authenticated" USING (true);



CREATE POLICY "frotas_select_authenticated" ON "public"."frotas_trens" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."frotas_trens" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."grupos" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "integ_sap_insert_by_privileged" ON "public"."saf_integracao_sap" FOR INSERT TO "authenticated" WITH CHECK ("public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text", 'CCM'::"text"]));



CREATE POLICY "integ_sap_select_by_related_saf" ON "public"."saf_integracao_sap" FOR SELECT TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."saf_solicitacoes" "s"
  WHERE (("s"."id" = "saf_integracao_sap"."solicitacao_id") AND (("s"."notificador_id" = "auth"."uid"()) OR "public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text", 'CCM'::"text", 'SIC'::"text"]))))));



CREATE POLICY "integ_sap_update_by_privileged" ON "public"."saf_integracao_sap" FOR UPDATE TO "authenticated" USING ("public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text", 'CCM'::"text"])) WITH CHECK ("public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text", 'CCM'::"text"]));



ALTER TABLE "public"."locais_instalacao" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "locais_select_authenticated" ON "public"."locais_instalacao" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."logs_auditoria" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "logs_select_admin" ON "public"."logs_auditoria" FOR SELECT TO "authenticated" USING ("public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text"]));



CREATE POLICY "saf_insert_own" ON "public"."saf_solicitacoes" FOR INSERT TO "authenticated" WITH CHECK (("notificador_id" = "auth"."uid"()));



ALTER TABLE "public"."saf_integracao_sap" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "saf_select_own_or_privileged" ON "public"."saf_solicitacoes" FOR SELECT TO "authenticated" USING ((("notificador_id" = "auth"."uid"()) OR "public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text", 'CCM'::"text", 'SIC'::"text"])));



ALTER TABLE "public"."saf_solicitacoes" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "saf_update_own_or_privileged" ON "public"."saf_solicitacoes" FOR UPDATE TO "authenticated" USING ((("notificador_id" = "auth"."uid"()) OR "public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text", 'CCM'::"text"]))) WITH CHECK ((("notificador_id" = "auth"."uid"()) OR "public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text", 'CCM'::"text"])));



ALTER TABLE "public"."sintomas" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."sintomas_catalogo" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "sintomas_select_authenticated" ON "public"."sintomas_catalogo" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."sistemas" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."subsistemas" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "trechos_select_authenticated" ON "public"."trechos_vias" FOR SELECT TO "authenticated" USING (true);



ALTER TABLE "public"."trechos_vias" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."trechos_vias4" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."usuarios" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "usuarios_select_self_or_privileged" ON "public"."usuarios" FOR SELECT TO "authenticated" USING ((("id" = "auth"."uid"()) OR "public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text"])));



CREATE POLICY "usuarios_update_self_or_admin" ON "public"."usuarios" FOR UPDATE TO "authenticated" USING ((("id" = "auth"."uid"()) OR "public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text"]))) WITH CHECK ((("id" = "auth"."uid"()) OR "public"."fn_usuario_tem_perfil"(ARRAY['Administrador'::"text"])));





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";






GRANT ALL ON FUNCTION "public"."gtrgm_in"("cstring") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_in"("cstring") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_in"("cstring") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_in"("cstring") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_out"("public"."gtrgm") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_out"("public"."gtrgm") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_out"("public"."gtrgm") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_out"("public"."gtrgm") TO "service_role";











































































































































































GRANT ALL ON FUNCTION "public"."fn_handle_new_auth_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_handle_new_auth_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_handle_new_auth_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_set_atualizado_em"() TO "anon";
GRANT ALL ON FUNCTION "public"."fn_set_atualizado_em"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_set_atualizado_em"() TO "service_role";



GRANT ALL ON FUNCTION "public"."fn_usuario_tem_perfil"("_perfis" "text"[]) TO "anon";
GRANT ALL ON FUNCTION "public"."fn_usuario_tem_perfil"("_perfis" "text"[]) TO "authenticated";
GRANT ALL ON FUNCTION "public"."fn_usuario_tem_perfil"("_perfis" "text"[]) TO "service_role";



GRANT ALL ON FUNCTION "public"."gin_extract_query_trgm"("text", "internal", smallint, "internal", "internal", "internal", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gin_extract_query_trgm"("text", "internal", smallint, "internal", "internal", "internal", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gin_extract_query_trgm"("text", "internal", smallint, "internal", "internal", "internal", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gin_extract_query_trgm"("text", "internal", smallint, "internal", "internal", "internal", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gin_extract_value_trgm"("text", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gin_extract_value_trgm"("text", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gin_extract_value_trgm"("text", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gin_extract_value_trgm"("text", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gin_trgm_consistent"("internal", smallint, "text", integer, "internal", "internal", "internal", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gin_trgm_consistent"("internal", smallint, "text", integer, "internal", "internal", "internal", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gin_trgm_consistent"("internal", smallint, "text", integer, "internal", "internal", "internal", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gin_trgm_consistent"("internal", smallint, "text", integer, "internal", "internal", "internal", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gin_trgm_triconsistent"("internal", smallint, "text", integer, "internal", "internal", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gin_trgm_triconsistent"("internal", smallint, "text", integer, "internal", "internal", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gin_trgm_triconsistent"("internal", smallint, "text", integer, "internal", "internal", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gin_trgm_triconsistent"("internal", smallint, "text", integer, "internal", "internal", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_compress"("internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_compress"("internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_compress"("internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_compress"("internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_consistent"("internal", "text", smallint, "oid", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_consistent"("internal", "text", smallint, "oid", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_consistent"("internal", "text", smallint, "oid", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_consistent"("internal", "text", smallint, "oid", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_decompress"("internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_decompress"("internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_decompress"("internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_decompress"("internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_distance"("internal", "text", smallint, "oid", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_distance"("internal", "text", smallint, "oid", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_distance"("internal", "text", smallint, "oid", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_distance"("internal", "text", smallint, "oid", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_options"("internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_options"("internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_options"("internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_options"("internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_penalty"("internal", "internal", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_penalty"("internal", "internal", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_penalty"("internal", "internal", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_penalty"("internal", "internal", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_picksplit"("internal", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_picksplit"("internal", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_picksplit"("internal", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_picksplit"("internal", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_same"("public"."gtrgm", "public"."gtrgm", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_same"("public"."gtrgm", "public"."gtrgm", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_same"("public"."gtrgm", "public"."gtrgm", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_same"("public"."gtrgm", "public"."gtrgm", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."gtrgm_union"("internal", "internal") TO "postgres";
GRANT ALL ON FUNCTION "public"."gtrgm_union"("internal", "internal") TO "anon";
GRANT ALL ON FUNCTION "public"."gtrgm_union"("internal", "internal") TO "authenticated";
GRANT ALL ON FUNCTION "public"."gtrgm_union"("internal", "internal") TO "service_role";



GRANT ALL ON FUNCTION "public"."set_limit"(real) TO "postgres";
GRANT ALL ON FUNCTION "public"."set_limit"(real) TO "anon";
GRANT ALL ON FUNCTION "public"."set_limit"(real) TO "authenticated";
GRANT ALL ON FUNCTION "public"."set_limit"(real) TO "service_role";



GRANT ALL ON FUNCTION "public"."show_limit"() TO "postgres";
GRANT ALL ON FUNCTION "public"."show_limit"() TO "anon";
GRANT ALL ON FUNCTION "public"."show_limit"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."show_limit"() TO "service_role";



GRANT ALL ON FUNCTION "public"."show_trgm"("text") TO "postgres";
GRANT ALL ON FUNCTION "public"."show_trgm"("text") TO "anon";
GRANT ALL ON FUNCTION "public"."show_trgm"("text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."show_trgm"("text") TO "service_role";



GRANT ALL ON FUNCTION "public"."similarity"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."similarity"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."similarity"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."similarity"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."similarity_dist"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."similarity_dist"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."similarity_dist"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."similarity_dist"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."similarity_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."similarity_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."similarity_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."similarity_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."strict_word_similarity"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."strict_word_similarity"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."strict_word_similarity"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."strict_word_similarity"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."strict_word_similarity_commutator_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_commutator_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_commutator_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_commutator_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_commutator_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_commutator_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_commutator_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_commutator_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_dist_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."strict_word_similarity_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."strict_word_similarity_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_modified_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_modified_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_modified_column"() TO "service_role";



GRANT ALL ON FUNCTION "public"."word_similarity"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."word_similarity"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."word_similarity"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."word_similarity"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."word_similarity_commutator_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."word_similarity_commutator_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."word_similarity_commutator_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."word_similarity_commutator_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."word_similarity_dist_commutator_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."word_similarity_dist_commutator_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."word_similarity_dist_commutator_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."word_similarity_dist_commutator_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."word_similarity_dist_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."word_similarity_dist_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."word_similarity_dist_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."word_similarity_dist_op"("text", "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."word_similarity_op"("text", "text") TO "postgres";
GRANT ALL ON FUNCTION "public"."word_similarity_op"("text", "text") TO "anon";
GRANT ALL ON FUNCTION "public"."word_similarity_op"("text", "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."word_similarity_op"("text", "text") TO "service_role";
























GRANT ALL ON TABLE "public"."amv_via" TO "anon";
GRANT ALL ON TABLE "public"."amv_via" TO "authenticated";
GRANT ALL ON TABLE "public"."amv_via" TO "service_role";



GRANT ALL ON TABLE "public"."centros_trabalho" TO "anon";
GRANT ALL ON TABLE "public"."centros_trabalho" TO "authenticated";
GRANT ALL ON TABLE "public"."centros_trabalho" TO "service_role";



GRANT ALL ON TABLE "public"."equipamentos" TO "anon";
GRANT ALL ON TABLE "public"."equipamentos" TO "authenticated";
GRANT ALL ON TABLE "public"."equipamentos" TO "service_role";



GRANT ALL ON SEQUENCE "public"."equipamentos_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."equipamentos_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."equipamentos_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."estacoes" TO "anon";
GRANT ALL ON TABLE "public"."estacoes" TO "authenticated";
GRANT ALL ON TABLE "public"."estacoes" TO "service_role";



GRANT ALL ON TABLE "public"."frotas_trens" TO "anon";
GRANT ALL ON TABLE "public"."frotas_trens" TO "authenticated";
GRANT ALL ON TABLE "public"."frotas_trens" TO "service_role";



GRANT ALL ON TABLE "public"."grupos" TO "anon";
GRANT ALL ON TABLE "public"."grupos" TO "authenticated";
GRANT ALL ON TABLE "public"."grupos" TO "service_role";



GRANT ALL ON TABLE "public"."locais_instalacao" TO "anon";
GRANT ALL ON TABLE "public"."locais_instalacao" TO "authenticated";
GRANT ALL ON TABLE "public"."locais_instalacao" TO "service_role";



GRANT ALL ON TABLE "public"."logs_auditoria" TO "anon";
GRANT ALL ON TABLE "public"."logs_auditoria" TO "authenticated";
GRANT ALL ON TABLE "public"."logs_auditoria" TO "service_role";



GRANT ALL ON TABLE "public"."saf_integracao_sap" TO "anon";
GRANT ALL ON TABLE "public"."saf_integracao_sap" TO "authenticated";
GRANT ALL ON TABLE "public"."saf_integracao_sap" TO "service_role";



GRANT ALL ON TABLE "public"."saf_solicitacoes" TO "anon";
GRANT ALL ON TABLE "public"."saf_solicitacoes" TO "authenticated";
GRANT ALL ON TABLE "public"."saf_solicitacoes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."saf_solicitacoes_ticket_saf_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."saf_solicitacoes_ticket_saf_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."saf_solicitacoes_ticket_saf_seq" TO "service_role";



GRANT ALL ON SEQUENCE "public"."saf_ticket_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."saf_ticket_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."saf_ticket_seq" TO "service_role";



GRANT ALL ON TABLE "public"."sintomas" TO "anon";
GRANT ALL ON TABLE "public"."sintomas" TO "authenticated";
GRANT ALL ON TABLE "public"."sintomas" TO "service_role";



GRANT ALL ON TABLE "public"."sintomas_catalogo" TO "anon";
GRANT ALL ON TABLE "public"."sintomas_catalogo" TO "authenticated";
GRANT ALL ON TABLE "public"."sintomas_catalogo" TO "service_role";



GRANT ALL ON TABLE "public"."sistemas" TO "anon";
GRANT ALL ON TABLE "public"."sistemas" TO "authenticated";
GRANT ALL ON TABLE "public"."sistemas" TO "service_role";



GRANT ALL ON SEQUENCE "public"."sistemas_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."sistemas_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."sistemas_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."subsistemas" TO "anon";
GRANT ALL ON TABLE "public"."subsistemas" TO "authenticated";
GRANT ALL ON TABLE "public"."subsistemas" TO "service_role";



GRANT ALL ON TABLE "public"."trechos_vias" TO "anon";
GRANT ALL ON TABLE "public"."trechos_vias" TO "authenticated";
GRANT ALL ON TABLE "public"."trechos_vias" TO "service_role";



GRANT ALL ON TABLE "public"."trechos_vias4" TO "anon";
GRANT ALL ON TABLE "public"."trechos_vias4" TO "authenticated";
GRANT ALL ON TABLE "public"."trechos_vias4" TO "service_role";



GRANT ALL ON TABLE "public"."usuarios" TO "anon";
GRANT ALL ON TABLE "public"."usuarios" TO "authenticated";
GRANT ALL ON TABLE "public"."usuarios" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";






























\unrestrict 7hvE3rNjeycLlIyNeqSr4g5enp1EC2dmuM14RagsrST691xYNamJd96U6GH24eI

RESET ALL;
